html.dark {
  --bg-main: #131313;
  --bg-main-opacity: 12, 12, 13;
  --bg-secondary: #282828;
  --bg-card: #282828;
  --bg-card-hover: #343434;

  --font-primary: #ededed;
  --font-muted: #808080;
  --font-inverted: #282828;

  --border-primary: #2e2e2e;
  --border-primary-hover: #3e3e3e;
  --border-muted: #1c1822;
  --font-placeholder: #707070;
}
